h1#timer {
  font-size: 1600%;
}

#start {
  font-size: 400%;
}

#break {
  font-size: 400%;
  display: none;
}

#reset {
  font-size: 400%;
}

#stop {
  font-size: 400%;
}

#long {
  font-size: 400%;
  display: none;
}
